@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  padding: 0;
  width: 100%;
  height: 70px;
  font-size: 24px;
}
.nav-item {
  position: absolute;
  margin-right: 20px;
  right: 0;
}

.cart-head {
  font-size: 28px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: white;
}
.num-none {
  display: none;
}
.num {
  font-size: 16px;
  background-color: red;
  border-radius: 50%;
  border:1px solid black;
  width: 20px;
  height:20px;
  position: absolute;
  top: 30px;
  right: 0;
}
/* Card */
.section {
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-flow: row wrap;
  left:12.5%;
  padding: 1%;
}
.section-table {
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  flex-flow: row wrap;
  left:12.5%;
  padding: 5%;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 400px;
  box-shadow: 1px -1px 10px 4px rgba(204,204,204,1);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/24/Blue_Tshirt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 1%;
}

.text-part {
  position: relative;
  margin-top: 95%;
  width:100%;
  text-align: center;
  font-size: 14px;
}


/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* buttons */
.cart {
  width: 100px;
  line-height: 1.2em;
  padding:5px;
  border: none;
  background-color: rgb(194, 59, 86);
  color: white;
  border-radius: 2%;
  position: relative;
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  cursor:pointer;
}